/*********** Variables, Inicializaciones y Reseteo de Estilos ***********/

/*:root {
	
}*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

/******************* Estilos específicos de la página *******************/

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gameboard {
	/* Responsive Properties: width, height, grid-gap, font-size. */
	display: grid;
	background-color: black;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.gameboard__square {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}